[Unit]
Description=ntfy client
After=network.target

[Service]
ExecStart=/usr/bin/ntfy subscribe --config "%h/.config/ntfy/client.yml" --from-config
Restart=on-failure

[Install]
WantedBy=default.target
