[Unit]
Description=ntfy server
After=network.target

[Service]
ExecStart=/usr/bin/ntfy
Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
