:root > * {
    --md-primary-fg-color:        #338574;
    --md-primary-fg-color--light: #338574;
    --md-primary-fg-color--dark:  #338574;
}

.md-header__button.md-logo :is(img, svg) {
    width: unset !important;
}

header {
    background: linear-gradient(150deg, rgba(51,133,116,1) 0%, rgba(86,189,168,1) 100%);     filter: drop-shadow(0 5px 10px #ccc);
}

.md-header__topic:first-child {
    font-weight: 400;
}

.md-typeset h4 {
    font-weight: 500 !important;
    margin: 0 !important;
    font-size: 1.1em !important;
}

.admonition {
    font-size: .74rem !important;
}

article {
    padding-bottom: 50px;
}

figure img, figure video {
    border-radius: 7px;
}

body[data-md-color-scheme="default"] figure img, body[data-md-color-scheme="default"] figure video {
    filter: drop-shadow(3px 3px 3px #ccc);
}

body[data-md-color-scheme="slate"] figure img, body[data-md-color-scheme="slate"] figure video {
    filter: drop-shadow(3px 3px 3px #1a1313);
}

figure video {
    width: 100%;
    max-height: 450px;
}

.remove-md-box {
    background: none;
    border: none;
    margin: 0 auto;
}

.remove-md-box td {
    padding: 0 10px
}

/* Lightbox; thanks to https://yossiabramov.com/blog/vanilla-js-lightbox */

.screenshots {
    text-align: center;
}

.screenshots img {
    max-height: 230px;
    max-width: 300px;
    margin: 3px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px #ddd);
}

.screenshots .nowrap {
    white-space: nowrap;
}

.lightbox {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in;
}

.lightbox.show {
    background-color: rgba(0,0,0, 0.75);
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    filter: drop-shadow(5px 5px 10px #222);
    border-radius: 5px;
}

.lightbox .close-lightbox {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.lightbox .close-lightbox::after,
.lightbox .close-lightbox::before {
    content: '';
    width: 3px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    border-radius: 5px;
    transform: rotate(45deg);
}

.lightbox .close-lightbox::before {
    transform: rotate(-45deg);
}

.lightbox .close-lightbox:hover::after,
.lightbox .close-lightbox:hover::before {
    background-color: #fff;
}
